<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <p>We are currently under maintanance. Check back later</p>
    {{> footer}}
  </body>
</html>
